# Visual Studio specific
.vscode/
.vs/
**/Debug/
**/Release/
**/x64/
**/x86/
*.exe
*.ilk
*.pdb
*.idb
*.obj
*.tlog

# CLion specific
.idea/
cmake-build-*/

# Temporary and log files
*.log
*.tmp
*.bak

# Mesa implementation for VM
/mesa
set_mesa_vs.bat
run_mesa_vs.bat

# Explicitly include the dependencies folder and its contents
!dependencies/
!dependencies/freeglut/
!dependencies/freeglut/lib/
!dependencies/freeglut/lib/**
!dependencies/freeimage/lib
!dependencies/freeimage/lib/**
!dependencies/glew/lib/**
!dependencies/openvr/bin/**
!demo/
!demo/**